#home {
 @include default-grid;
  // grid-template-rows: repeat(3, min-content);
}

// HEADER 
.header {
  background-color: $color-white;
  grid-column: full-start/full-end;
}
  
// Navigation
.navigation {
  background-color: $color-red;
  grid-column: nav-start/nav-end;
}

// Application
.app {
  background-color: $color-yellow;
  grid-column: app-start/app-end;
}

// Side bar 
.side-bar {
background-color: $color-blue;
grid-column: side-start/side-end;

}

// FOOTER 
.footer {
  background-color: $color-green;
  grid-column: full-start/full-end;
}