.btn {
  border: none;
  cursor: pointer;
  background-color: white;

  &__close {
    height: 4rem !important;
    width: 4rem !important;
    transform: rotate(45deg);
  }

  &__download {
    background-color: $color-primary;
    padding: 1.5rem 4rem;
    color: $color-dark;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
