.btn {
  border: none;
  cursor: pointer;
  background-color: white;

  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }

  &__close {
    height: 4rem !important;
    width: 4rem !important;
    transform: rotate(45deg);
  }

  &__download {
    background-color: $color-primary;
    padding: 1.5rem 4rem;
    color: $color-dark;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__pagination {
    // display: flex;
    padding: 0.5rem;
    border-radius: $border-radius-5;
    border: $border-1;
  }
}
