.header {
  // padding: 2rem 4rem;
  @include default-grid;
  z-index: 2;

  box-shadow: 0 1px $color-primary;
  align-items: center;

  // logo
  &__logo-img {
    width: 100%;
    font-size: 2rem;
    color: $color-gray-1;
  }

  // Search Input
  &__search-input {
    width: 80%;
    padding: 1rem 2rem;
    border: $border-1;
    border-radius: 2rem;

    // placeholder
    &::placeholder {
      color: $color-primary;
    }
  }

  // User
  &__user {
    background-color: $color-gray-3;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;

    // user name
    &-name {
      font-size: 1.2rem;
      color: $color-gray-2;
    }

    // user image
    &-img {
      width: 4rem;
      height: 4rem;
    }
  }
}
